@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote {

    &:before,
    &:after {
        content: "";
        content: none;
    }
}

q {

    &:before,
    &:after {
        content: "";
        content: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    transition: 0.1s all;
}

.strong {
    font-weight: bold;
}

.title {
    font-size: 28px;
    line-height: 33px;
    color: #393f4f;
    font-weight: bold;
    font-family: roboto;
}

@media (max-width: 768px) {
    .title {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 15px;
    }
}

body {
    font-family: Roboto;
    background: #cacaca;
}

.main-ctn {
    width: 100%;
    max-width: 970px;
    background: white;
    margin: 0 auto;
}

.header {
    .first-line {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 16px;

        .logo-col {
            display: flex;

            .link {
                display: flex;
                align-items: center;
                font-family: Roboto;
                font-size: 16px;
                font-weight: bold;
                color: #c3c6c9;
                text-decoration: none;
                line-height: 18px;

                .logo {
                    max-height: 66px;
                    align-items: center;
                }

                p {
                    margin-left: 5px;

                    span {
                        display: block;
                    }
                }
            }
        }

        .search-col {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: relative;

            input {
                background: #e6e6e6;
                color: #757575;
                font-size: 14px;
                line-height: 32px;
                border: none;
                padding-left: 16px;
                padding-right: 36px;
                box-sizing: border-box;
            }

            .icon {
                position: absolute;
                right: 16px;
                color: #757575;
            }

            #btn-search {
                font-size: 30px;
                font-size: 18px;
                left: 0;
                display: none;
            }

            #bars {
                right: 0;
                display: none;
            }
        }
    }

    .nav {
        background: #333333;
        font-family: roboto;

        .menu {
            display: flex;

            >.menu-item {
                display: inline-block;
                padding-left: 13px;
                padding-right: 13px;
                border-top: 5px solid #333333;
                transition: 0.2s all;
                position: relative;

                &:hover {
                    border-top: 5px solid #4eb7cd;
                    transition: 0.2s all;

                    .sub-menu {
                        opacity: 1;
                        transition: 0.2s all;
                        display: block;
                    }
                }

                a {
                    color: white;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 43px;
                    display: inline-block;

                    .icon {
                        color: #4eb7cd;
                    }
                }

                &.current-menu-item {
                    border-top: 5px solid #4eb7cd;
                }
            }

            .sub-menu {
                position: absolute;
                background: #5a6378;
                border-radius: 2px;
                padding-top: 5px;
                padding-bottom: 5px;
                border: 0;
                left: 0;
                opacity: 0;
                transition: 0.2s all;
                display: none;

                .menu-item {
                    padding-top: 2px;
                    padding-bottom: 5px;

                    a {
                        color: #a5adbe;
                        padding-left: 20px;
                        padding-right: 20px;
                        white-space: nowrap;
                        box-sizing: border-box;
                        width: 100%;
                        line-height: 20px;
                        transition: 0.2s all;
                        padding-top: 2px;
                        padding-bottom: 5px;

                        &:hover {
                            color: #4eb7cd;
                            transition: 0.2s all;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header .first-line {
        grid-template-columns: 75% 25%;
    }
}

@media (max-width: 768px) {
    .header .first-line .logo-col .link {
        font-size: 10px;
        line-height: 11px;
        color: #393f4f;
        font-weight: normal;
    }
}

@media (max-width: 768px) {
    .header .first-line .logo-col .link .logo {
        max-height: 43px;
    }
}

@media (max-width: 768px) {
    .header .first-line .search-col form {
        display: none;
    }
}

@media (max-width: 768px) {
    .header .first-line .search-col .icon {
        display: inline-block;
        margin-right: 10px;
    }
}

@media (max-width: 768px) {
    .header .first-line .search-col #btn-search {
        display: inline-block;
    }
}

@media (max-width: 768px) {
    .header .first-line .search-col #bars {
        display: inline-block;
    }
}

@media (max-width: 768px) {
    .header .nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        z-index: 999;
    }
}

@media (max-width: 768px) {
    .header .nav .menu {
        display: block;
    }
}

@media (max-width: 768px) {
    .header .nav .menu>.menu-item:hover {
        border-top: 5px solid #333333;
    }
}

@media (max-width: 768px) {
    .header .nav .menu>.menu-item {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .header .nav .menu .sub-menu {
        position: relative;
        margin-left: -30px;
        margin-right: -32px;
    }
}

@media (max-width: 768px) {
    .header .nav .menu .sub-menu .menu-item {
        padding-left: 20px;
    }
}

@media (max-width: 768px) {
    .header .nav .menu .sub-menu .menu-item a {
        white-space: normal;
    }
}

body {
    .banner-jumbo {
        background-position: center center;
        background-size: cover;
        height: 203px;
    }

    .tramites-row {
        padding: 24px 24px 32px 24px;
        border-bottom: solid 1px #bbbfc1;
        margin-bottom: 36px;

        .title-ctn {
            background: #4eb7cd;
            border-radius: 2px;
            position: relative;
            margin-bottom: 24px;

            a {
                color: white;
            }

            &:after {
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                border-left: 13px solid transparent;
                border-right: 13px solid transparent;
                border-top: 10px solid #4eb7cd;
                left: 50%;
            }

            .title {
                color: white;
                line-height: 48px;
                display: block;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 18px;
                font-family: roboto;
                text-align: center;
            }
        }

        .items-row {
            grid-template-columns: 25% 25% 25% 25%;
            display: grid;
            margin-bottom: 15px;

            .item {
                display: flex;
                align-items: center;
                padding-left: 16px;

                .icon-circle {
                    background: #4eb7cd;
                    border-radius: 100%;
                    line-height: 75px;
                    width: 75px;
                    height: 75px;
                    color: #4c7e8e;
                    text-align: center;

                    .icon {
                        color: #4c7e8e;
                        font-size: 30px;
                        line-height: 75px;
                    }
                }

                p {
                    margin-left: 10px;
                    font-family: roboto;
                    color: #393f4f;
                    font-size: 14px;
                    font-weight: bold;

                    span {
                        display: block;
                    }
                }
            }
        }

        .acceso {
            text-align: center;
            font-size: 14px;
            line-height: 20px;
            color: #4eb7cd;
            font-family: roboto;

            a {
                text-align: center;
                font-size: 14px;
                line-height: 20px;
                color: #4eb7cd;
                font-family: roboto;
            }

            .icon,
            a .icon {
                margin-right: 5px;
            }
        }
    }

    .starred-and-access-row {
        padding-left: 16px;
        padding-right: 16px;
        display: grid;
        grid-template-columns: 66.66% 33.33%;
        font-family: roboto;
        margin-bottom: 35px;

        .starred-col {
            padding-right: 16px;

            .title {
                font-size: 28px;
                font-weight: bold;
                color: #393f4f;
                text-transform: uppercase;
            }

            .subtitle {
                color: #393f4f;
                font-size: 16px;
                line-height: 18px;
                margin-bottom: 16px;
            }

            .starred-news {
                background: #5b6476;
                padding: 16px 16px 0 16px;
                max-height: 400px;
                overflow: hidden;
                border-top: 16px solid #5b6476;

                .item-news {
                    display: grid;
                    grid-template-columns: 25% 75%;
                    font-family: roboto;
                    background-color: #3a404e;
                    margin-bottom: 30px;

                    .img {
                        background-position: center center;
                        background-size: cover;
                        height: 136px;
                    }

                    .info-news {
                        padding: 10px 10px 10px 10px;
                        display: inline-block;
                        transition: 0.2s all;
                        text-decoration: none;

                        &:hover {
                            background: #495162;
                            transition: 0.2s all;
                        }

                        .category {
                            font-size: 16px;
                            color: #4eb7cd;
                            text-transform: uppercase;
                            line-height: 18px;
                        }

                        > {
                            .main-title {
                                font-size: 18px;
                                color: white;
                                line-height: 23px;
                            }

                            .description {
                                font-size: 14px;
                                color: #9c9fa7;
                                line-height: 16px;
                                line-height: 18px;
                            }
                        }
                    }
                }
            }

            .footer-starred {
                background-color: #5b6476;
                padding: 16px;
                position: relative;

                .next-btn,
                .swiper-button-next {
                    position: absolute;
                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
                    height: 33px;
                    color: #4eb7cd;
                    text-align: center;
                    width: 100% !important;
                    left: 0;
                    top: -33px;
                    font-size: 38px;
                }

                .btn {
                    border-radius: 2px;
                    background-color: #4eb7cd;
                    color: white;
                    text-transform: uppercase;
                    text-decoration: none;
                    display: inline-block;
                    padding-left: 17px;
                    padding-right: 17px;
                    line-height: 40px;
                    font-size: 12px;
                    cursor: pointer;
                    transition: 0.2s all;

                    &:hover {
                        background: #35a5bd;
                        transition: 0.2s all;
                    }
                }
            }
        }

        .access-col {
            border-left: 2px solid #eee;
            padding-left: 13px;
            margin-top: 24px;

            .title {
                font-weight: bold;
                text-transform: uppercase;
                line-height: 24px;
                font-size: 20px;
                color: #393f4f;
            }

            .lista .item {
                margin: 0;

                a {
                    color: #4eb7cd;
                    display: block;
                    line-height: 36px;
                    border-bottom: 2px solid #eee;
                    text-decoration: none;

                    &:hover {
                        background: rgba(0, 0, 0, 0.05);
                    }
                }
            }
        }
    }

    .swiper-container {
        width: unset;
        height: 600px;
    }

    .links-row {
        padding-left: 16px;
        padding-right: 16px;
        display: grid;
        grid-template-columns: 33% 33% auto;
        column-gap: 20px;
        font-family: roboto;
        padding-bottom: 26px;
        border-bottom: 1px solid #bbbfc1;

        .item-link {
            height: 170px;
            background-position: bottom left;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color: #4eb7cd;
            font-size: 14px;
            transition: 0.2s all;
            text-decoration: none;

            &:hover {
                filter: brightness(0.8);
                transition: 0.2s all;
            }

            .info {
                padding: 20px;

                span {
                    display: block;
                }

                .title {
                    color: white;
                    text-transform: uppercase;
                    font-size: 18px;
                    line-height: 22px;
                    font-weight: bold;
                    text-align: right;
                }

                .more {
                    text-align: right;
                }
            }
        }
    }

    .tel {
        margin-top: 21px;
        text-align: center;
        font-size: 18px;
        line-height: 21px;
        color: #262c37;
        margin-bottom: 40px;

        span {
            font-weight: bold;
        }
    }
}

@media (max-width: 768px) {
    body .banner-jumbo {
        height: 112px;
    }
}

@media (max-width: 768px) {
    body .tramites-row {
        padding: 8px 8px 32px 8px;
    }
}

@media (max-width: 768px) {
    body .tramites-row .items-row {
        grid-template-columns: auto;
    }
}

@media (max-width: 768px) {
    body .tramites-row .items-row .item {
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    body .tramites-row .items-row .item p span {
        display: inline-block;
    }
}

@media (max-width: 768px) {
    body .starred-and-access-row {
        grid-template-columns: auto;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    body .starred-and-access-row .starred-col {
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    body .starred-and-access-row .starred-col .title {
        padding-left: 16px;
        padding-right: 16px;
        font-size: 20px;
        line-height: 24px;
    }
}

@media (max-width: 768px) {
    body .starred-and-access-row .starred-col .subtitle {
        padding-left: 16px;
        padding-right: 16px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    body .starred-and-access-row .starred-col .starred-news .item-news {
        grid-template-columns: 35% 65%;
    }
}

@media (max-width: 768px) {
    body .starred-and-access-row .starred-col .starred-news .item-news .img {
        background-size: contain;
        background-position: 10px 10px;
        background-repeat: no-repeat;
    }
}

@media (max-width: 768px) {
    body .starred-and-access-row .starred-col .starred-news .item-news .info-news .category {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 3px;
    }
}

@media (max-width: 768px) {
    body .starred-and-access-row .starred-col .starred-news .item-news .info-news>.main-title {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 3px;
    }
}

@media (max-width: 768px) {
    body .starred-and-access-row .starred-col .starred-news .item-news .info-news>.description {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    body .starred-and-access-row .starred-col .footer-starred {
        text-align: center;
    }
}

@media (max-width: 768px) {
    body .starred-and-access-row .access-col {
        border-left: 0;
    }
}

@media (max-width: 768px) {
    body .starred-and-access-row .access-col .lista .item a {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    body .links-row {
        grid-template-columns: auto;
    }
}

@media (max-width: 768px) {
    body .links-row .item-link {
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    body .tel span {
        display: block;
    }
}

@media (max-width: 768px) {
    body .tel {
        font-size: 18px;
        margin-bottom: 23px;
    }
}

.swiper-button-next {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
    height: 33px;
    color: #4eb7cd;
    text-align: center;
    width: 100% !important;
    left: 0;
    bottom: 0;
    font-size: 38px;
}

.footer {
    border-top: 5px solid #4eb7cd;
    background: #393f4f;
    color: white;

    .menu-cols {
        display: grid;
        grid-template-columns: 25% 25% 25% auto;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 25px;
        padding-bottom: 25px;

        .lista-footer {
            color: #bbc1cd;
            line-height: 28px;

            a {
                color: #bbc1cd;
                font-weight: normal;
                line-height: 28px;
                display: inline-block;
                font-size: 14px;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .info-general {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
        color: #a0a0a0;
        background: white;

        h3 {
            font-size: 14px;
            line-height: 16px;
            font-weight: bold;
            color: #a0a0a0;
            margin-bottom: 5px;
        }

        p {
            line-height: 25px;
            font-size: 12px;
        }
    }
}

@media (max-width: 768px) {
    .footer .menu-cols {
        grid-template-columns: auto;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

@media (max-width: 768px) {
    .footer .menu-cols .lista-footer a {
        display: block;
    }
}

body {
    .breadcrum-bar {
        margin: 8px;
        background-color: #f5f5f5;
        border-radius: 2px;
        font-family: roboto;
        font-size: 12px;
        line-height: 16px;
        padding: 10px 16px 10px 16px;
        color: #afb0b5;

        li {
            &:after {
                content: " > ";
            }

            &:last-child:after {
                content: "";
            }
        }

        .item {
            display: inline-block;
            display-content: "";

            .link {
                color: #4eb7cd !important;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .tramites {
        padding-left: 8px;
        padding-right: 8px;
        font-family: roboto;
        margin-bottom: 32px;

        > {
            .title {
                font-size: 28px;
                line-height: 33px;
                color: #393f4f;
                font-weight: bold;
                padding-left: 8px;
            }

            .subtitle {
                font-size: 16px;
                line-height: 19px;
                color: #393f4f;
                padding-left: 8px;
            }
        }

        .row-items {
            margin-top: 24px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 32px;

            .item {
                background-color: #eeeff1;

                .img-ctn {
                    background-color: #262c37;
                    padding-top: 16px;
                    padding-bottom: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .icon-ctn {
                        border-radius: 100%;
                        background-color: white;
                        text-align: center;
                        width: 121px;
                        height: 121px;
                        vertical-align: center;

                        .icon {
                            color: #4eb7cd;
                            font-size: 50px;
                            line-height: 121px;
                        }
                    }
                }

                .info-ctn {
                    padding: 16px;
                    min-height: 200px;

                    >.title {
                        color: #4e4e4e;
                        font-size: 20px;
                        margin-bottom: 8px;
                        line-height: 24px;
                        font-weight: bold;
                    }

                    .list {
                        margin-block-start: 1em;

                        .item {
                            position: relative;
                            padding: 0 0 0 15px;
                            margin-bottom: 8px;

                            &:before {
                                content: "‣";
                                position: absolute;
                                left: 0;
                                color: #4eb7cd;
                            }

                            .link {
                                text-decoration: none;
                                font-size: 14px;
                                font-weight: bold;
                                color: #4e4e4e;
                                line-height: 16px;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .other-contents {
        padding-left: 8px;
        padding-right: 8px;
        margin-bottom: 32px;

        >.title {
            font-size: 20px;
            color: #393f4f;
            line-height: 24px;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .row-contents {
            grid-template-columns: 1fr 1fr;
            column-gap: 32px;
            display: grid;

            >.item {
                color: white;
                font-family: roboto;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 18px;
                min-height: 167px;
                box-sizing: border-box;
                background-repeat: no-repeat;
                background-position: top left;
                background-size: cover;
                text-decoration: none;
                transition: 0.2s all;

                &:hover {
                    filter: brightness(0.8);
                    transition: 0.2s all;
                }

                &:first-child {
                    background-color: #272c37;
                }

                &:last-child {
                    background-color: #266876;
                }

                .info {
                    text-align: right;

                    .txt {
                        display: block;
                        font-size: 18px;
                        font-weight: bold;
                        text-transform: uppercase;
                        margin-bottom: 4px;
                    }

                    .link {
                        color: #4eb7cd;
                        display: block;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .content-coyuntura {
        display: grid;
        grid-template-columns: 75% 1fr;
        column-gap: 20px;

        .coyuntura-col {
            .row-info {
                margin-top: 19px;
                padding-left: 8px;
                padding-right: 8px;

                /*& > .title
         * font-size: 28px 
         * margin-bottom: 4px
         * line-height: 33px
         * color: #393f4f
         * font-weight: bold */

                .info {
                    padding-bottom: 30px;
                    border-bottom: solid 1px #e6e6e6;
                    margin-bottom: 24px;
                    text-align: justify;

                    p {
                        font-size: 16px;
                        color: #393f4f;
                        margin-bottom: 8px;
                        padding-right: 8px;
                    }
                }
            }

            .year-ctn {
                padding-left: 8px;
                padding-right: 8px;
                margin-bottom: 35px;

                >.title {
                    display: block;
                    color: #393f4f;
                    text-transform: uppercase;
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: bold;
                    margin-bottom: 16px;
                }

                .year-selector-ctn {
                    position: relative;
                    max-width: max-content;

                    &:after {
                        content: "‣";
                        position: absolute;
                        transform: rotate(90deg);
                        top: 16px;
                        right: 10px;
                        color: #4eb7cd;
                    }

                    .year-selector {
                        line-height: 48px;
                        background-color: #e6e6e6;
                        border-radius: 2px;
                        color: #757575;
                        font-size: 18px;
                        font-weight: bold;
                        height: 48px;
                        min-width: 288px;
                        padding-left: 16px;
                        padding-right: 16px;
                        border: none;
                        cursor: pointer;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;

                        &:focus {
                            outline: 0px;
                        }
                    }
                }
            }

            .year-grid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 30px;
                row-gap: 30px;
                color: white;
                font-size: 14px;
                line-height: 20px;
                padding-left: 8px;
                padding-right: 8px;
                padding-bottom: 30px;

                >.border {
                    border-bottom: 2px solid #e6e6e6;
                    grid-column: 1/4;
                }

                .item-month {
                    background-color: #a2a2a2;
                    border-radius: 2px;
                    padding: 10px;
                    min-height: 130px;

                    >.title {
                        color: white;
                    }

                    &.actual {
                        background-color: #4eb7cd;
                    }

                    &.future {
                        background-color: #eeeff1;

                        >.title {
                            color: #d0d0d0 !important;
                        }
                    }

                    .title {
                        font-size: 18px;
                        font-weight: bold;
                        margin-bottom: 4px;
                        display: block;
                    }

                    .lista .item {
                        list-style: disc;
                        color: white;
                        list-style-position: inside;

                        .link {
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    .common-txt-bg {
        background-color: #e6e6e6;
        padding: 20px;
        font-size: 14px;
        line-height: 16px;
        color: #393f4f;
        font-family: roboto;
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 30px;

        span {
            display: block;
            margin-bottom: 4px;
        }

        .strong {
            font-weight: bold;
        }

        a {
            color: #67b6c9;
            text-decoration: none;
        }
    }

    .sidebar {
        background-color: #eeeff1;
        padding: 8px;

        .title {
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            padding-top: 14px;
            border-top: solid 2px #d0cdcf;
            margin-top: 16px;
            margin-bottom: 8px;
        }

        .list {
            margin-block-start: 1em;
            margin-bottom: 30px;

            .item {
                position: relative;
                padding: 0 0 0 15px;
                margin-bottom: 8px;

                &.current:before {
                    content: "‣";
                    position: absolute;
                    left: 0;
                    color: #4eb7cd;
                }

                .link {
                    text-decoration: underline;
                    font-size: 14px;
                    color: #4e4e4e;
                    line-height: 16px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .banners-sidebar {
            grid-template-columns: auto;
            column-gap: 32px;
            display: grid;

            .item {
                color: white;
                font-family: roboto;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 18px;
                min-height: 167px;
                box-sizing: border-box;
                background-repeat: no-repeat;
                background-position: top left;
                font-weight: bold;
                text-decoration: none;
                transition: 0.2s all;
                text-align: right;
                margin-bottom: 16px;

                span {
                    display: block;
                }

                &:hover {
                    filter: brightness(0.8);
                    transition: 0.2s all;
                }

                &:first-child {
                    background-color: #272c37;
                }

                &:last-child {
                    background-color: #266876;
                }

                .link {
                    color: #4eb7cd !important;
                    font-weight: normal;
                    text-decoration: underline;
                }
            }
        }
    }

    .atencion-al-cliente>.grid-ctn {
        padding: 20px 16px 30px 16px;
        display: grid;
        grid-template-columns: 66.66% 1fr;
        column-gap: 20px;

        > {
            .col-left {
                font-size: 16px;
                line-height: 20px;
                color: #393f4f;

                > {
                    .subtitle {
                        border-bottom: solid 2px #e6e6e6;
                        display: block;
                        padding-bottom: 30px;
                        margin-bottom: 13px;
                    }

                    .title-2 {
                        font-size: 18px;
                        line-height: 24px;
                        font-weight: bold;
                        color: #393f4f;
                        margin-bottom: 13px;
                        display: inline-block;
                    }

                    .intro {
                        font-size: 16px;
                        line-height: 18px;
                        display: inline-block;
                        margin-bottom: 32px;
                    }
                }

                .grid-information-ctn {
                    display: grid;
                    grid-template-columns: 50px 1fr;
                    margin-bottom: 32px;

                    .icon-ctn {
                        text-align: center;

                        .icon {
                            color: #4eb6cd;
                            font-size: 30px;
                            padding-right: 20px;
                        }
                    }

                    .info-ctn {
                        span {
                            display: block;
                        }

                        > {
                            .title-data a {
                                color: #4eb7cd;
                                font-size: 16px;
                                line-height: 18px;
                            }

                            .txt-data p {
                                margin-top: 20px;
                            }
                        }
                    }

                    &.offices {
                        border-top: solid 2px #e6e6e6;
                        border-bottom: solid 2px #e6e6e6;
                        padding-top: 16px;
                        padding-bottom: 16px;
                    }
                }
            }

            .col-right {
                .title {
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: bold;
                    margin-top: 30px;
                    display: block;
                    margin-bottom: 28px;
                }

                .map {
                    border: 8px solid #4e4e4e !important;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    body .breadcrum-bar {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (max-width: 768px) {
    body .tramites {
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 23px;
    }
}

@media (max-width: 768px) {
    body .tramites>.title {
        font-size: 24px;
        line-height: 30px;
    }
}

@media (max-width: 768px) {
    body .tramites>.subtitle {
        display: block;
    }
}

@media (max-width: 768px) {
    body .tramites .row-items {
        grid-template-columns: 1fr;
        column-gap: 0;
        margin-top: 21px;
    }
}

@media (max-width: 768px) {
    body .tramites .row-items .item {
        margin-bottom: 16px;
    }
}

@media (max-width: 768px) {
    body .tramites .row-items .item .img-ctn .icon-ctn {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 768px) {
    body .tramites .row-items .item .img-ctn .icon-ctn .icon {
        line-height: 60px;
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    body .tramites .row-items .item .info-ctn>.title {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    body .other-contents {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (max-width: 768px) {
    body .other-contents>.title {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    body .other-contents .row-contents {
        grid-template-columns: 1fr;
        column-gap: 0;
    }
}

@media (max-width: 768px) {
    body .other-contents .row-contents>.item {
        margin-bottom: 16px;
    }
}

@media (max-width: 768px) {
    body .content-coyuntura {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    body .content-coyuntura .coyuntura-col .row-info {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (max-width: 768px) {
    body .content-coyuntura .coyuntura-col .year-ctn {
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    body .content-coyuntura .coyuntura-col .year-ctn .year-selector-ctn {
        max-width: inherit;
    }
}

@media (max-width: 768px) {
    body .content-coyuntura .coyuntura-col .year-ctn .year-selector-ctn .year-selector {
        min-width: auto;
        width: 100%;
    }
}

@media (max-width: 768px) {
    body .content-coyuntura .coyuntura-col .year-grid {
        grid-template-columns: auto;
        grid-row-gap: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (max-width: 768px) {
    body .content-coyuntura .coyuntura-col .year-grid .item-month {
        grid-column: 1/4;
        min-height: auto;
    }
}

@media (max-width: 768px) {
    body .common-txt-bg {
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media (max-width: 768px) {
    body .sidebar .banners-sidebar .item {
        margin-bottom: 16px;
    }
}

@media (max-width: 768px) {
    body .atencion-al-cliente>.grid-ctn {
        grid-template-columns: 1fr;
        column-gap: none;
    }
}